[submodule "MobileNet-SSD-windows"]
	path = MobileNet-SSD-windows
	url = https://github.com/eric612/MobileNet-SSD-windows.git
[submodule "caffe"]
	path = caffe
	url = https://github.com/eric612/MobileNet-SSD-windows.git
